{
  "name": {{ name | tojson }},
  "catalog": {{ catalog | tojson }},
  "target": {{ schema | tojson }},
  "continuous": false,
  "configuration": {
    "mypipeline.adf_job_name": {{ adf_job_name | tojson }}
  },
  "clusters": [
    {
      "label": "default",
      "node_type_id": "Standard_DS3_v2",
      "num_workers": 0,
      "spark_conf": {
        "spark.databricks.cluster.profile": "singleNode"
      }
    }
  ],
  "libraries": [
    {
      "notebook": {
        "path": "/Workspace/DBX_F1/Ingestion/DLT_NB"
      }
    }
  ],
  "development": {{ development | tojson }}
}

